<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello Articals</h1>
    <% for (let articals of allArticals) { %>

        <h3><%= articals.title %></h3>
        <p><%= articals.body %></p>
    <% } %>    
</body>
</html>